* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "BigShouldersDisplay";
  src: url('src/assets/BigShouldersDisplay-ExtraBold.ttf') format(truetype);
  font-weight: 900;
  font-style: normal;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFF0F4;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('src/assets/worldmap.png');
  background-position: -1000px 0px;
  width: 390px;
  height: 213px;
  color: white;
}

.pigeon-img {
  width: 98px;
  height: 84px;
  margin-right: 15px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 12px;

}

.green {
  font-family: "BigShouldersDisplay", sans-serif;
  color: #32CD32;
  font-size: 43px;
  font-weight: 900;
  line-height: 150%;
  margin-top: 10px;
 
}

.form-container {
  padding: 30px 0px;
  background-color: white;
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 362px;
  padding-top: 44px;
  padding-bottom: 46px;
  border: 4px solid #252F42;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100% 100%;
}

.label {
  color: #035A9D;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 150%;
}

.text-message {
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  resize: none;
  width: 317px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  padding: 10px 15px;
  transition: 1s;
}

.response {
  color: white;
  border-radius: 15px 3px 15px 15px;
  background-color: #035A9D;
}

.message {
  color: black;
  border-radius: 3px 15px 15px 15px;
  background-color: #32CD32;
}

.wrong {
  
  animation: bgFade 3s forwards;
}

@keyframes bgFade {
  from {
    background-color: red;
  } 
  to {
    background-color: #32CD32;
  }
}

.text-input {
  width: 313px;
  height: 67px;
  background-color: #F5F5F5;
  border: 2px solid #586E88;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 20px;
  padding-right: 50px;
}

.send-button {
  position: relative;
  border: none;
  background: transparent;
}

.send-button > img {
  position: absolute;
  height: 30px;
  transform: translate(-38px, -23px)
}





.options-container {
  align-self: center;
  margin-top: 25px;
  display: flex;
  gap: 20px;
  position: relative;

}

input[type="radio"] {
  display: none;
}

label {
  
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"]:checked + label{
  border: 2px solid #035A9D;
}

.flag-img {
  border: 1px solid black;
  position: relative;
}

.submit-btn {
  width: 322px;
  height: 50px;
  background-color: #035A9D;
  color: white;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 24px;
  margin-top: 39px;
}
