* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "BigShouldersDisplay";
  src: url('src/assets/BigShouldersDisplay-ExtraBold.ttf') format(truetype);
  font-weight: 900;
  font-style: normal;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFF0F4;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('src/assets/worldmap.png');
  background-position: -1000px 0px;
  width: 390px;
  height: 213px;
  color: white;
}

.pigeon-img {
  width: 98px;
  height: 84px;
  margin-right: 15px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 12px;

}

.green {
  font-family: "BigShouldersDisplay", sans-serif;
  color: #32CD32;
  font-size: 43px;
  font-weight: 900;
  line-height: 150%;
  margin-top: 10px;
 
}

.form-container {
  padding: 30px 0px;
  background-color: white;
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 362px;
  padding-top: 22px;
  padding-bottom: 46px;
  border: 4px solid #252F42;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  color: #035A9D;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 150%;
}

textarea {
  resize: none;
  width: 317px;
  height: 118px;
  background-color: #EFF0F4;
  color: #333333;
  border: none;
  border-radius: 8px;
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 900px;
  padding-top: 12px;
  padding-left: 10px;
}

textarea::placeholder {
  color: #333333;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 900px;
}

.options-container {
  align-self: start;
  margin-top: 25px;
  margin-left: 26px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

label {
  margin-left: 12px;
}

.flag-img {
  margin-left: 12px;
  border: 1px solid black;
  position: relative;
  top: 3px;
}

.submit-btn {
  width: 322px;
  height: 50px;
  background-color: #035A9D;
  color: white;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 24px;
  margin-top: 39px;
}
